:host .desktop-navbar {
display: none;
}

div {
    height: 100%;
    float: left;
    margin-left: 5px;
    display: flex;
}

ul {
    display: flex;
    list-style: none;
    gap: 7px;
    margin: auto;
}

a{
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--hooker-green);
}

.hamburger-nav-button{
    background: none;
    border: none;
    font-size: x-large;
}

.bx{
    color: var(--cadet-gray);
}

.hamburger-navbar ul li a {
    color: var(--hooker-green);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

/* Desktop */
:host.desktop .hamburger-nav{
    display: none;
}

:host.desktop .desktop-navbar{
    display: flex;
}