:host .desktop-navbar {
display: none;
}

div {
    height: 100%;
    float: left;
    margin-left: 5px;
    display: flex;
}

ul {
    display: flex;
    list-style: none;
    gap: 7px;
    margin: auto 0;
    padding-left: 0;
}

a{
    font-size: 0.8rem;
    text-decoration: none;
    color: var(--hooker-green);
    font-weight: bold;
}

.hamburger-nav-button{
    background: none;
    border: none;
    font-size: x-large;
    display: flex;
    justify-content: center;
    justify-self: center;
    align-items: center;
}

.bx{
    color: var(--cadet-gray);
}

.hamburger-navbar ul li a {
    color: var(--hooker-green);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

/* Tablet */

:host.tablet .hamburger-nav{
    display: none;
}

:host.tablet .desktop-navbar{
    display: flex;
    padding-left: 15px;
    font-weight: bold;
}

:host.tablet a {
    font-size: 1rem;
}


/* Desktop */

:host.desktop .hamburger-nav{
    display: none;
}

:host.desktop .desktop-navbar{
    display: flex;
    padding-left: 15px;
    font-weight: bold;
}

:host.desktop a{
    font-size: 1.2rem;
}