:host {
    display: block;
    color: var(--cadet-gray);
    margin: 2rem 2rem;
}

.container {
    gap: 2rem;
    display: grid;
}

table {
    font-size: 1rem;
    outline: 1px solid var(--ash-gray);
}

table tr {
    height: 40px;
}

table tr td {
    padding-left: 0.5rem;
}

table tr td:nth-child(even) {
    color: var(--cadet-gray);
}

section p {
    font-size: 1rem;
    text-align: justify;
}

section p:not(:first-child) {
    margin-top: 1rem;
}

/* Desktop */
:host.desktop {
    margin-top: 3rem;
}

:host.desktop .container {
    grid-template-columns: 1fr 1fr;
}

:host.desktop h1 {
    grid-column: 1/3;
}

:host.desktop section,
:host.desktop table {
    width: 80%;
    margin: auto;
}