<div class="container">
    <h1>Contact</h1>

    <ul class="social-media">
        <li><a href="mailto:rdennis0993@gmail.com" target="_top"><i class="bx bxl-gmail"></i></a></li>
        <li><a href="https://github.com/DennisR93" target="_blank"><i class="bx bxl-github"></i></a></li>
        <li><a href="https://www.linkedin.com/in/dennis-rabinovitch" target="_blank"><i class="bx bxl-linkedin"></i></a></li>
        <li><a href="" download="Dennis-Rabinovitch-CV.pdf"><i class='bx bx-spreadsheet' ></i></a></li>
    </ul>
</div>