:host {
    display: block;
    color: var(--cadet-gray);
    padding: 2rem 2rem;
}

ul{
    margin-top: 2rem;
    list-style: none;
    padding: 0;
}

a{
    color: var(--hooker-green);
}

.social-media {
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.social-media li {
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
}

i {
    margin-top: 3px;
}

.contact-info li {
    height: 30px;
    font-size: 1rem;
}

/* Desktop */

:host.desktop h1{
    grid-column: 1/3;
}

:host.desktop .social-media, :host.desktop .contact-info{
    width: 400px;
    margin: 3rem auto 0;
}

:host.desktop .social-media{
    cursor: pointer;
}

:host.desktop .social-media li:hover {
    background-color: rgba(255, 255, 255, 0.5);
}
