div {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 1% 97% 2%;
    grid-template-columns: repeat(6, 1fr);
}

main,
header,
footer {
    grid-column: span 6;
}

footer{
    padding: 2rem 3rem;
}

:host {
    /* height: 100%; */
    display: block;
    background-color: var(--alabaster);
}
:host .backToTop{
    opacity: 0;
}


/* Desktop */

.backToTop{
    background: none;
    border: none;
    color: var(--hooker-green);
    font-size: 36px;
}

button.desktop.backToTop{
        bottom: 0;
        cursor: pointer;
        margin: 0 8px 12px 0;
        position: fixed;
        right: 5px;
        opacity: 0;
}

button.desktop.show-scrollTop{
    opacity: 1;
    transition: all 0.2s ease-in-out;
}