<div>
    <header>
        <app-header responsive></app-header>
    </header>


    <main>
        <app-home id="home" responsive></app-home>
        <app-personal-info id="about" responsive></app-personal-info>
        <app-education responsive></app-education>
        <app-experience id="projects" responsive></app-experience>
        <app-skills id="skills" responsive></app-skills>
        <app-contact id="contact" responsive></app-contact>
        <button class="backToTop" [ngClass]="{'show-scrollTop': windowScrolled}" (click)="scrollToTop()" responsive><i class='bx bxs-to-top'></i></button>
    </main>


    <footer>
        <app-footer responsive></app-footer>
    </footer>
</div>