div {
    height: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 2% 96% 2%;
    grid-template-columns: repeat(6, 1fr);
}

main,
header,
footer {
    grid-column: span 6;
}

:host {
    /* height: 100%; */
    display: block;
    background-color: black;
}



/* Not working Element */
/* header {
    position: sticky;
    top: 0;
} */