div {
    height: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 2% 96% 2%;
    grid-template-columns: repeat(6, 1fr);
}

main,
header,
footer {
    grid-column: span 6;
}

footer{
    padding: 2rem 3rem;
}

:host {
    /* height: 100%; */
    display: block;
    background-color: black;
}


/* Desktop */
:host header:nth-child(1):has(.desktop) {
    position: sticky;
    top: 0;
    z-index: 1;
}