div {
    height: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 5% 90% 5%;
    grid-template-columns: repeat(6, 1fr);
}

main {
    grid-column: span 6;
    overflow: auto;
}

header,
footer {
    grid-column: span 6;
}

:host {
    /* height: 100%; */
    display: block;
    background-color: black;
}