:host {
    display: block;
    color: var(--ash-gray);
    padding: 2rem 2rem;
}

section {
    margin-top: 2rem;
}

section h2 {
    color: var(--hooker-green);
}

section h4 {
    color: var(--cadet-gray);
}

/* Desktop */

:host.desktop section {
    width: 600px;
    position: relative;
    margin-left: 5rem;
    display: grid;
    gap: 0 1.5rem;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: repeat(3, 1fr);
}

:host.desktop section h4:nth-child(4) {
    grid-row: 1/4;
    margin-top: 0;
    display: flex;
    margin-top: 0;
    font-size: 1.5rem;
    align-items: center;
    justify-content: center;
    border-right: 1px solid var(--hooker-green);
}