html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    color: white;
    scroll-behavior: smooth;
}

.container {
    margin: 0 auto;
    max-width: 1500px;
    outline: 0px solid white;
}

h1 {
    padding: 1rem 0;
    text-align: center;
    letter-spacing: 1px;
    color: greenyellow;
    outline: 1px solid white;
    /* font-family: ; */
}